#root {
  width: 100vw;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  font-size: 1em;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  background: white;
  z-index: 1000;
  padding: 1em 0; /* vertical space for the header */
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.mainContent {
  display: flex;
  height: calc(100vh - 3.5em);
  padding-top: 10em; /* Adjust to match header's vertical space (1em top + 1em bottom + font size) */
  justify-content: center ;
}

.inputContent {
  flex: 1;
  padding: 1em;
  border-right: 1px solid #eee;
  overflow-y: auto;
  overflow-x: auto;
}

.chartContent {
  flex: 1;
  padding: 1em;
  overflow-y: auto;
  overflow-x: auto;
}